<h3 class="text-center">MY CSV Home Page</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/csv/Upload" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="csvfile">Upload CSV File:</label>
        <input
          type="file"
          class="form-control"
          name="csvfile"
          accept=".csv, text/csv"
          id="csvfile"
        />
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <% if (locals.message) { %>
    <p class="text-center"><%= message %></p>
    <% } %>
  </div>
</div>
