<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/CSS/style.css">
  </head>
  <body>
    <%- include('_header'); %>
    <div class="container">
      <%- body %>
    </div>
    <footer class="footer">
      <p class="text-center">© 2023 Your Company</p>
    </footer>
  </body>
</html>
